/*
 * $Log: /statesnapshots/web/statesnapshots/css/ahrq_banner.css $
 * 
 * 2     2/12/08 3:42p Dbyington
 * New AHRQ Header.
 * 
 * 1     12/18/07 11:13a Dbyington
 * File added to Visual Source Safe.
 */
/* ahrq_header css */
#ahrqbanner img {
	border:none;
}

#ahrqbanner a {
	text-decoration:none;
}

#PrintBanner {
	display:none;
}

#ahrqbanner {
	font-family:Arial, Helvetica, sans-serif;
	font-size:90%;
	padding:10px 10px 0 10px;
}

#ahrqbanner * {
    margin:0;
    padding:0;
}

#ahrqbanner div.hhsportion {
	position:relative;
	background:url("../images/ahrq_header/hhs_back.gif") repeat-x;
	height:49px;
}
#ahrqbanner div.hhsportion a.skipnav {
	position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}
#ahrqbanner div.hhsportion a.hhsright {
	position:absolute;
	top:8px;
	right:30px;
}

#ahrqbanner div.ahrqportion {
	position:relative;
	background:url("../images/ahrq_header/ahrq_back.gif") repeat-x;
	height:69px;
}

#ahrqbanner #banner_searchform input.gobtn {
	position:absolute;
	top:28px;
	right:30px;
}

#ahrqbanner #banner_searchform input.gotext {
	position:absolute;                                         
	top:28px;
	right:60px;
	width:150px;
}

#ahrqbanner div.ahrqportion a.ahrqright {
	position:absolute;
	top:52px;
	right:30px;
	color:#ffcd68;
	font-weight:bold;
	font-size:1.4em;
	letter-spacing:.1em;
}

/* add for ie hack */
#ahrqbanner div.ahrqlinks {
	padding:6px 0 0 0;
	text-align:center;
	_margin-top:-4px; /* IE6 hack */
}

#ahrqbanner div.ahrqlinks a {
	font-size:1.2em;
	color:#000000;
	padding:0 12px;
	text-decoration:none;
}

/* add for hover */
#ahrqbanner div.ahrqlinks a:hover {
	font-size:1.2em;
	padding:0 12px;
	text-decoration:underline;
	color: #FF0000;
}

/* for red envelope jpg */
#ahrqbanner div.ahrqlinks img {
    /*	margin: top left bottom right; */
 	margin-top:0;
	/* margin-left:4px; */
	margin-left:-2px;
	/* margin-right:-5px; */
	margin-right:-13px;
	margin-bottom:-2px;
}
/* END HEADER STYLES */

/* ahrq_footer css */
/* #banner_footerline{width:50%;height:34px; } */
div#ahrq_footer{margin:0; padding:0; background-color: #FFF;}
div#ahrq_footer img{border:none; clear:none; margin:0; padding:0;}
div#banner_Footer2{float:left; width:100%; text-align:center; margin:0; padding:0;}
div#banner_Footer2 p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:red;margin-top:0px;} 
div#banner_Footeraddress{font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000;  margin-top:10px;text-align:center;}
div#banner_Footer2 p a{font-size:10px; color:#2763C3; text-decoration:none; margin:0; padding:0;}
div#banner_Footer2 p a:hover{text-decoration:underline; margin:0; padding:0;}
.bkgImg{background-image:url("../images/ahrq_footer/bottom_ahrq_bkg.jpg"); background-repeat: repeat-x}





